<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<style>
    .image-container{
        position: relative;
        width: 100%;
    }
    .container{
        padding-top: 30px;

    }
    .text-overlay{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .hr-2{
        width: 50px;
        height: 3px;
        background-color: darkgreen;
        margin: 0 auto;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-4">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link bg-success text-white dropdown-toggle" style="width:250px; padding-left: 20px;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"></path>
</svg>
                        All departments
                    </a>
                    <ul class="dropdown-menu show"  style="width: 250px; padding-left: 40px" aria-labelledby="navbarDropdownMenuLink">
                         <li class="nav-item">
                        <a class="nav-link" href="#">Fresh Meat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vegetables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fruit & Nut Gifts</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Fresh Berries</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Ocean Foods</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Butter & Eggs</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Fresh Onion</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Oatmeal</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Fresh Bananas</a>
                    </li>
                    </ul>
                </li>
            </ul>
            </div>
        <div class="col-8">
            <div class="image-container">
            <img src="https://ivankitanovski.github.io/exam/banner.jpg" class="img-alt-top" alt="...">
            <div class="text-overlay">
                <h5 class="text-success">FRUIT FRESH</h5>
                <h1>Vegetable</h1>
                <h1> 100% Organic</h1>
                <p class="text-secondary">Free Pickup and Delivery Available</p>
                <button class="btn btn-success" style="border-radius: 0;">SHOP NOW</button>
            </div>
                </div>
        </div>
    </div>
    <br>
    <h1 class="text-center" style="font-weight: bold">From The Blog</h1>
    <hr class="hr-2">
    <br>
    <div class="cards">
        <div class="row">
            <div class="col-4">
                <div class="card-img" style="width: 18rem;">
                    <img src="https://ivankitanovski.github.io/exam/blog-1.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-date text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"></path>
                        </svg>May 4,2019<span>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                        <path d="M2.678 11.894a1 1 0 0 1 .287.801 11 11 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8 8 0 0 0 8 14c3.996 0 7-2.807 7-6s-3.004-6-7-6-7 2.808-7 6c0 1.468.617 2.83 1.678 3.894m-.493 3.905a22 22 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a10 10 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105"></path>
                        </svg>5</span> </p>
                    <p class="card-text" style="font-weight: bold">Cooking tips make cooking simple</p>
                    <p class="card-text text-secondary text-justify" style="width: 22rem;">Sed quia numquam modi tempora indunt ut labore et delore magnam aliquam quaerat</p>
                </div>
            </div>
             <div class="col-4">
                <div class="card-img" style="width: 18rem;">
                    <img src="https://ivankitanovski.github.io/exam/blog-2.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-date text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"></path>
                        </svg>May 4,2019<span>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                        <path d="M2.678 11.894a1 1 0 0 1 .287.801 11 11 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8 8 0 0 0 8 14c3.996 0 7-2.807 7-6s-3.004-6-7-6-7 2.808-7 6c0 1.468.617 2.83 1.678 3.894m-.493 3.905a22 22 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a10 10 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105"></path>
                        </svg>5</span> </p>
                    <p class="card-text" style="font-weight: bold">Cooking tips make cooking simple</p>
                    <p class="card-text text-secondary text-justify" style="width: 22rem;">Sed quia numquam modi tempora indunt ut labore et delore magnam aliquam quaerat</p>
                </div>
            </div>
             <div class="col-4">
                <div class="card-img" style="width: 18rem;">
                    <img src="https://ivankitanovski.github.io/exam/blog-3.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-date text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"></path>
                        </svg>May 4,2019<span>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                        <path d="M2.678 11.894a1 1 0 0 1 .287.801 11 11 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8 8 0 0 0 8 14c3.996 0 7-2.807 7-6s-3.004-6-7-6-7 2.808-7 6c0 1.468.617 2.83 1.678 3.894m-.493 3.905a22 22 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a10 10 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105"></path>
                        </svg>5</span> </p>
                    <p class="card-text" style="font-weight: bold">Cooking tips make cooking simple</p>
                    <p class="card-text text-secondary text-justify" style="width: 22rem;">Sed quia numquam modi tempora indunt ut labore et delore magnam aliquam quaerat</p>
                </div>
            </div>
        </div>
    </div>
    <br>

</div>
     <footer class="py-5 bg-light" style="padding-left:90px;">
        <div class="row">
            <div class="col-4">
                <h5>FINKI Exam</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Organization</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Departments</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Contact</a>
                    </li>

                </ul>
            </div>
            <div class="col-4">
                <h5>Studies</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Bachelors</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Masters</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">PhD</a>
                    </li>


                </ul>
            </div>
            <div class="col-4">
                <h5>Staff</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Administrative</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Teaching</a>
                    </li>

                </ul>
            </div>
        </div>
    </footer>